.footer-contacts {
  display: flex;

  &-position > &-element:not(:last-child) {
    margin-bottom: 9px;
  }

  &-element {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
  }

  &-adress {
    color: $white-text-color;
  }

  &-style {
    color: rgba(255, 255, 255, 0.6);
  }
}
