.social-links {
    display: flex;
    justify-content: center;
    background-color: $white-background-color;

    &-image {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $white-background-color;
        align-items: center;
        justify-content: center;
        fill: $fill-icons-color;
        transition-property: background-color;
        transition: background-color $timing-opacity $timing-function;
      }
      
      &-image:hover,
      &-image:focus {
        background-color: $hover-text-color;
      }
      
      &-icon {
        display: flex;
        width: 20px;
        height: 20px;
        fill: $fill-icons-color;
        transition-property: fill;
        transition: fill $timing-opacity $timing-function;
      }
      
      &-image:hover &-icon,
      &-image:focus &-icon {
        fill: $white-background-color;
      }
      
      & > .margin-link:not(:last-child) {
        margin-right: 10px;
      }
  }
  
 