a {
  text-decoration: none;
}

li {
  list-style: none;
}
a,
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
body {
  @media screen and (max-width: $phone) {
    width: 480px;
  }

  @media screen and (min-width: $phone) {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  font-family: $main-font-family;
  padding-top: 60px;
  @media screen and (min-width: $tablet) {
    padding-top: 80px;
  }
}
