.menu-header {
  margin-left: auto;
  margin-right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;

  @media screen and (min-width: 767px) {
    display: none;
  }

  &-cross {
    display: none;
  }
}
