.menu-header {
  z-index: 999;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;

  background-color: transparent;
  border: none;
  padding: 0;

  @media screen and (min-width: 767px) {
    display: none;
  }

  &-cross {
    display: none;
  }
  &.is-open &-cross {
    display: block;
    position: absolute;
    z-index: 2000;
  }
  &.is-open &-icon {
    display: none;
  }
}
