$logo-backgraund-color: #e5e5e5;
$dark-backgraund-color: #2f303a;
$black-text-color: #212121;
$hover-text-color: #2196f3;
$white-text-color: #ffffff;
$grey-text-color: #757575;
$button-background-color: #f5f4fa;
$white-background-color: #ffffff;
$fill-icons-color: #afb1b8;
$timing-opacity: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-font-family: Roboto, sans-serif;
$logo-font-family: Raleway, sans-serif;
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
